.ui-rangecomparator {
	position: relative;
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(left, #c9de96 2%, #26966a 78%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(2%,#c9de96), color-stop(78%,#26966a), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c9de96 2%,#26966a 78%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c9de96 2%,#26966a 78%,#398235 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, #c9de96 2%,#26966a 78%,#398235 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, #c9de96 2%,#26966a 78%,#398235 100%); /* W3C */
	border: 1px solid #666;
	border-radius: 5px;
}

.ui-rangecomparator-range {
	border-radius: 5px;
	font-weight: bold;
}

/*.ui-rangecomparator-range.first {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.ui-rangecomparator-range.last {
	margin-bottom: 2px !important;
}*/

.ui-rangecomparator-range .label {
	font-size: 10px;
	border: 1px solid #666;
	border-radius: 5px;
	height: 12px;
	line-height: 10px;
	padding: 1px;
}

.ui-rangecomparator-range.odd {
	background: url("../img/salary-scale-odd-bg.png") repeat #FFF !important;
}
.ui-rangecomparator-range.even {
	background: url("../img/salary-scale-even-bg.png") repeat #FFF !important;
}